<nav class="primary-nav">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
  <a [routerLink]="['/zapatillas']" routerLinkActive="router-link-active">zapatillas</a>
  <a [routerLink]="['/videojuegos']" routerLinkActive="router-link-active">videojuegos</a>
  <a [routerLink]="['/cursos']" routerLinkActive="router-link-active">cursos</a>
  <a [routerLink]="['/externo']" routerLinkActive="router-link-active">externo</a>
  <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
</nav>


<div [ngStyle]="{'background':config.background,
  'padding': '1rem'}">
<h1>{{ title }}</h1>
<p>{{ desciption }}</p>
</div>

<router-outlet></router-outlet>
